{% if design == "posts" %}
    <article class="blog-posts-post" data-tags="{{ post.tags | join: ' ' }}">
        <a href="{{ post.url }}">
            <h3>{{ post.title }}</h3>
            
            {% if post.featured_image %}
                <div class="blog-posts-post-image" style="background-image: url(' {{ post.featured_image }}');"></div>
            {% else %}
                <div class="blog-posts-post-image" style="background-image: url( '../../assets/images/default-blog-post-image.jpg');"></div>
            {% endif %}

            <p>{{ post.date | date: "%B %d, %Y" }} &#183;
                <span>
                📖 {% assign words = post.content | split: " " | size %}
                {% if words < 360 %}
                    1 min
                {% else %}
                    {{ words | divided_by: 180 }} mins
                {% endif %}
                </span>
            </p>

            {% if post.tldr %}
                <p>{{ post.tldr | strip_html | truncate: 200 }} </p>
            {% else %}
                <p>{{ post.excerpt | strip_html | truncate: 200 }} </p>
            {% endif %}
        </a>
    </article>

{% else %}
    <div class="post-description">
        <h1>{{ page.title }}</h1>

        <ul class="post-description-info">
            <li>
                {{ page.date | date: "%B %d, %Y" }} &#183;
                <span>
                📖 {% assign words = page.content | split: " " | size %}
                {% if words < 360 %}
                    1 min
                {% else %}
                    {{ words | divided_by: 180 }} mins
                {% endif %}
                </span>
            </li>

            <li>
                Categories: {{ page.categories }}
            </li>

            <li>
                Tags:
            {% for tag in page.tags %}
              <span>{{ tag }}</span>
              {% unless forloop.last %} {% endunless %}
            {% endfor %}
            </li>
        </ul>      

        {% if page.featured_image %}
            <img src="{{ page.featured_image }}" alt="Featured Image"/>
        {% else %}
            <img src="{{ '../../assets/images/default-blog-post-image.jpg' }}" alt="Featured Image"/>
        {% endif %}

        {% if page.image-source %}
            <p class="feature-image-source">Image source: {{ page.image-source }}</p>
        {% endif %}
    </div>
{% endif %}