---
---

* {
    margin: 0; 
    padding: 0;
}

html:focus-within{
    scroll-behavior: smooth;
}

a:not([class]){
    text-decoration-skip-ink: auto;
}

img, 
picture, 
svg, 
video, 
canvas {
    max-width: 100%; 
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat; 
    background-size: cover;
}

input, 
button, 
textarea, 
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%;
    scroll-behavior: smooth;
}

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

$green-primary: #00B700;
$green-secondary: #32C532;
$grey-primary: #bbbbbb;
$grey-dark: #404040;
$white: #ffffff;
$black: #181818;
$code-bg: rgb(33, 33, 33);

::-moz-selection {
  color: $white;
  background: $green-primary;
}

::selection {
  color: $white;
  background: $green-primary;
}

a.site-title {
    font-weight: 500;
    transition: .2s;

    &:hover {
        color: $white;
        transition: .2s;
        text-decoration: none;
    }
}

a,
a:visited {
    color: $green-primary;
    transition: .2s;
}

a:hover {
    color: $green-secondary;
    transition: .2s;
    text-decoration: none;
}

a.btn {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border: 2px solid;
    border-radius: 3px;
    padding: 5px;
    color: $grey-primary;
    text-decoration: none;
    transition: .2s;

    &:hover {
        background-color: $green-primary;
        border-color: $green-primary;
        color: $white;
    }

    &::after {
        content: "\f105";
        font-family: 'Font Awesome 6 Free';
        font-weight: 900; 
        margin-left: 2.5px;
    }
}

.wrapper {
    max-width: calc(1000px - (30px * 2));
}

.intro {

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        ul {
            list-style: none;
            margin-left: 0;
        }
    }

    h1 {
        font-weight: 600;
    }

    &-image {
        background-position: 100% 25%;
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    &-text {
        max-width: 700px;
    }

    &-info {
        font-size: 18px;

        ul {
            margin-left: 0;
            list-style: none;
        }
    }

    code {
        display: block;
        font-size: 17.5px;
        padding: 10px;
    }
}

.post-description {
    margin-bottom: 15px;

    &-info {
        list-style: none;
        margin-left: 0;

        li:first-child {
            font-size: 17px;
            font-weight: 600;
        }

        li {
            font-size: 13px;
            font-weight: 300;
        }
    }
}

.meta {
    margin-bottom: 5%;

    > h2 {
        margin: 0;
    }
}

hr {
    margin: 25px 0;
    border: 0;
    height: 1px;
    background: $grey-dark;
}

iframe {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    color: #828282;

    > div {
        display: flex;
        width: 50%;
        flex: 1 1 300px;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    p:last-child {
        margin: 0;
    }
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 25px;

    &-post {
        flex: 1 1 25%;

        & a {
            transition: .2s;
            text-decoration: none;
            color: inherit;

            &:hover {
                opacity: 0.5;
            }
        }

        &-image {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 200px;
            margin-bottom: 15px;
        }

        &-date {
            margin: 15px 0;
        }
    }

    @media (max-width: 1000px) {
        & {
          flex-wrap: wrap;
        }
        
        &-post {
          flex-basis: 50%;
        }
    }
}

.pagination {
    text-align: center;
}

.feature-image-source {
    font-size: 13px;
    color: #828282;
    font-style: italic;
}

.blog-posts-post h3 {
    font-weight: 600;
}

a.page-link:hover {
    color: $white;
    transition: .2s;
}

.site-header,
.site-nav,
.site-footer {
    background-color: $code-bg;
}

.tags {
    padding: 10px;
    background-color: $grey-dark;
    color: $grey-primary;
    border-radius: 5px;
    border: none;

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
}