---
---

// Override, and copy the base styles from the theme stylesheet
@import "{{ site.theme }}";

.wrapper {
    max-width: calc(1000px - (30px * 2));
}

.meta {
    margin-bottom: 5%;

    > h2 {
        margin: 0;
    }
}

hr {
    margin: 5% 0;
    border: 0;
    height: 1px;
    background: #e8e8e8;
}

iframe {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #828282;

    > div {
        display: block;
        width: 50%;
        flex: 1 1 300px;
    }
}

.blog-posts {
    display: flex;
    justify-content: space-between;
    align-content: center;
    gap: 25px;

    &-post {
        flex: 1;

        & a {
            transition: .2s;
            text-decoration: none;
            color: inherit;

            &:hover {
                opacity: 0.5;
            }
        }

        &-image {
            background-size: cover;
            background-position: center;
            width: 300px;
            height: 200px;
        }
    }

    @media (max-width: 600px) {
        & {
          flex-wrap: wrap;
        }
        
        &-post {
          flex-basis: 50%;
        }
    }
}

.pagination {
    text-align: center;
}