---
---

// Override, and copy the base styles from the theme stylesheet
@import "{{ site.theme }}";

.wrapper {
    max-width: calc(1000px - (30px * 2));
}

.meta {
    margin-bottom: 5%;

    > h2 {
        margin: 0;
    }
}

hr {
    margin: 5% 0;
    border: 0;
    height: 1px;
    background: #e8e8e8;
}

iframe {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #828282;

    > div {
        display: block;
        width: 50%;
        flex: 1 1 300px;
    }
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 5px;

    &-post {
        max-width: 250px;
        flex: 1 1 auto;

        & a {
            transition: .2s;
            text-decoration: none;
            color: inherit;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.pagination {
    text-align: center;
}