---
layout: base
title: Blog
icon: fa-solid fa-newspaper
paginate: 5
paginate_path: "/blog/page:num"
---

<div class="tags-wrapper">
  <h1>All Blog Posts</h1>

  {% assign all_tags = site.posts | map: 'tags' | flatten | uniq %} {% if
  site.posts.size > 0 %}
  <div>
    <p>Filter by Tags:</p>
    <select class="tags" aria-label="Filter blog posts by tags" id="tag-filter">
      <option class="tag" data-tag="">All</option>
      {% for tag in all_tags %}
      <option class="tag" data-tag="{{ tag }}">{{ tag }}</option>
      {% endfor %}
    </select>
  </div>
  {% else %}
  <p>No Posts Found</p>
  {% endif %}
</div>

<div class="blog-posts" id="blog-posts">
  {% if site.posts.size > 0 %} {% assign design = 'posts' %} {% for post in
  site.posts %} {% include post-description.html design=design %} {% endfor %}
  {% else %}
  <p>No Posts Found</p>
  {% endif %}
</div>
