---
layout: base
title: Blog
icon: fa-solid fa-newspaper
---

<div class="tags-wrapper">
  <h1>All Blog Posts</h1>

  {% assign all_tags = site.posts | map: 'tags' | flatten | uniq %}
  <select class="tags">
    <option class="tag" data-tag="">All</option>
    {% for tag in all_tags %}
      <option class="tag" data-tag="{{ tag }}">{{ tag }}</option>
    {% endfor %}
  </select>
</div>

<div class="blog-posts">
  {% assign design = 'posts' %}
  
  {% for post in paginator.posts %}
    {% include post-description.html design=design %}
  {% endfor %}
</div>

{% include pagination.html %}

<script>
  document.querySelectorAll('.tag').forEach(tagButton => {
  tagButton.addEventListener('click', function() {
    const tag = this.getAttribute('data-tag');
    document.querySelectorAll('.blog-posts-post').forEach(post => {
      if (post.getAttribute('data-tags').includes(tag)) {
        post.style.display = 'block';
      } else {
        post.style.display = 'none';
      }
    });
  });
});
</script>