---
layout: base
title: Home
permalink: /
icon: fa-solid fa-house
---

<div class="intro">
  <div class="intro-wrapper">
    <div class="intro-image" style="background-image: url('/assets/images/profile-2.jpg');"></div>
  
    <div class="intro-text">    
      <h1>👋I'm Samuel!</h1>
      <h3>Engineer, Developer, M.Sc. Student, LOTR Nerd, Cybersecurity Enthusiast & Dog Lover from 🇫🇮</h3>

      <hr />
      
      <h4>{{ site.description }}</h4>
      <p style="font-size: 14px; font-weight: 100"><i>I do suffer from reading & writing difficulties, so if anything looks, or is wrong tht's why...</i></p>
    </div>
  </div>

  <code>
    Favorite:<br/><br/>
    <b>Languages:</b> Ruby, PHP, Python, JS, C#, C <br />
    <b>WebDev:</b> Laravel, WordPress, SCSS, Node.js, TS, React<br />
    <b>Databases:</b> Redis, MySQL, GraphQL, MongoDB<br />
    <b>Topics:</b> Cybersecurity, Digital Privacy, Reverse-engineering, Deep-learning<br /><br />
    I do know other stuff as well: <a href="https://github.com/krullmizter/" target="_blank"><i class="fa-brands fa-github"></i></a> <a href="https://www.linkedin.com/in/samuel-granvik-93977013a/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
  </code>

</div>

<hr />

<h2>Bachelor's Thesis</h2>
<h4>Open-source dog breed identification built with Fast.ai’s CNN using transfer learning 🐕</h4>
<p>Feel free to read about my bachelor thesis regarding: Deep-learning, dog breed identification, Fast.ai, Python and much more.</p>
<a href="{% link pages/bachelor-thesis.md %}" class="btn">Read More</a>
<hr />

<h2>Latest Posts</h2>

<div class="blog-posts">
  {% assign design = 'posts' %}
  
  {% for post in site.posts limit: 6 %}
    {% include post-description.html design=design %}
  {% endfor %}
</div>

<a href="{% link blog/index.html %}" class="btn">More Posts</a>
