---
layout: default
title: Blog
---

<h1>All Blog Posts</h1>

<div class="blog-posts">
  {% for post in paginator.posts %}
  <article class="blog-posts-post">
      <h2>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      {% if post.featured_image %}
        <div class="blog-posts-post-image" style="background-image: url(' {{ post.featured_image }}');"></div>
      {% else %}
        <div class="blog-posts-post-image" style="background-image: url( '../../assets/images/default-blog-post-image.jpg');"></div>
      {% endif %}
      <hr />
      <p class="post-meta">{{ post.date | date_to_string }} · {% include time-to-read.html %}</p>
      <hr />
      <p>{{ post.excerpt }}</p>
    </a>
  </article>
  {% endfor %}
</div>

{% include pagination.html %}