---
layout: default
title: Blog
---

<h1>All Blog Posts</h1>

<div class="blog-posts">
  {% for post in paginator.posts %}
  <div class="blog-posts-post">
    <a href="{{ post.url }}">
      <h2><b>{{ post.title }}</b></h2>
      {% if post.featured_image %}
        <img src="{{ post.featured_image }}" alt="Featured Image">
      {% endif %}
      <hr />
      <p>{{ post.date | date: "%B %d, %Y" }} · {% include time-to-read.html %}</p>
      <hr />
      <p>{{ post.excerpt }}</p>
    </a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>